body {
    font-family: "poppins", sans-serif;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.judul_konten {
    padding-right: 3rem;
    color: white;
}

.judul_konten h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.judul_konten p {
    font-size: 1.1em;
}

.form_konten {
    flex: 0 0 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form_konten a.btn-form-konten {
    display: inline-block;
    width: 100%;
    background-color: hsl(248, 32%, 49%);
    font-size: 1em;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 400;
    transition: box-shadow 0.25s ease-in-out;
    box-shadow: 0px 6px 0px rgba(96, 85, 165, 0.3);
    height: 2em;
    padding-top: 1.6em;
    padding-bottom: 1em;
}

.form_konten a.btn-form-konten span{
    font-weight: 600;
}

.form_konten a.btn-form-konten:hover {
    box-shadow: 0px 6px 0px rgba(42, 30, 117, 0.7);
}

.form_konten form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0px 6px 0px rgba(54, 44, 46, 0.3);
    padding-top: 2em;
}

form {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

form input {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 85%;
    display: block;
    height: 4rem;
    margin-top: 1rem;
    padding-left: 1rem;
    border-radius: 7px;
    font-size: 1em;
}

form .form-field {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: contents;
    height: 3rem;
    margin-top: 1rem;
    padding-left: 2.5em;
    border-radius: 7px;
}

.form-field input {
    border: 1px solid #c7c7c7;
}

 .form-field:focus {
    border: 0.2px solid black;
}

form p {
    font-size: 0.7rem;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--grayish-blue);
    line-height: 1.5rem;
}

form a {
    color: var(--red);
    font-weight: 700;
}

.form-field.error input {
    background: url("images/icon-error.svg") no-repeat;
    background-position: 95% center;
    background-size: 1.5rem 1.5rem;
    border-color: red;
    color: red;
    
}

.form-field.error input::placeholder {
    color: transparent;
}

.form-field small {
    color: red;
    font-style: italic;
    display: block;
    text-align: right;
    padding-top: 0.5em;
    font-size: 10px;
    align-self: flex-end;
    padding-right: 4.5em;
}


.btn-submit {
    background-color: hsl(154, 59%, 51%);
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
    border: none;
    border-radius: 7px;
    transition: all 0.25s ease-in-out;
    box-shadow: 0px 6px 0px rgb(34, 168, 110);
    margin-bottom: 1rem;
    height: 3em;
  }

  .btn-submit:hover,
  .btn-submit:focus {
  background-color: hsl(154, 64%, 59%);
  box-shadow: 0px 3px 0px rgb(34, 168, 110);
}

.agree-term {
   display: block;
   color: rgb(195, 195, 195);
   font-size: 10px;
   font-weight: 600;
   margin-bottom: 2rem; 
}

.agree-term a {
    color: rgb(255, 122, 122);
    text-decoration: none;
    
}

/**/
/*for phones*/
@media only screen and (max-width: 600px) {
    .wrapper {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .judul_konten {
        padding-right: 0;
    }

    .judul_konten h1 {
        font-size: 1.7em;
        margin-top: 2.5em;
        margin-bottom: 0.8em;
        font-weight: 600;
    }

    .judul_konten p {
        line-height: 25px;
        padding-bottom: 2.5em;
        font-size: 12px;
    }


    .form_konten a.btn-form-konten {
        display: grid;
        font-size: 12px;
        padding-bottom: 2em;
        padding-top: 1em;
    }

    .form-field {
        width: 285px;
    }

    .form-field input{
        height: 3em;
    }

    form, input {
        font-size: 12px;
    }

    .form-field.error input {
        background-size: 1rem;
    }

    .form-field small {
        font-size: 8px;
    }

    .btn-submit {
        font-weight: 400;
        font-size: 16px;
        padding: 13px 0;
    }

    .agree-term {
        display: contents;
    }

    .agree-term a {
        padding-bottom: 20px;
    }

    .attribution {
        font-size: 9px;
        padding-top: 50px;
        padding-bottom: 15px;
    }

    /*for phones*/
    @media only screen and (max-width: 450px) {
        .form-field small {
            padding-right: 3.7em;
        }
    }

    /*for phones*/
    @media only screen and (max-width: 375px) {
        .form-field small {
            padding-right: 3em;
        }
    }

}


/*for tablets*/
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .wrapper {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .judul_konten {
        padding-right: 0;
    }

    .judul_konten h1 {
        font-size: 3em;
        font-weight: 600; 
    }

    .btn-submit {
        font-weight: 400;
    }
}
